<div class="ui five doubling inverted cards">
    {{>card icon="marker" colour="violet" cardTitle=name value1=latitude value2=longitude}}
    {{>card cardTitle="Weather" colour="red" value1=weather}}
    {{>card icon="temperature low" colour="blue" cardTitle="Temp" value1=tempC value2=tempF}}
    {{>card icon="wind" colour="green" cardTitle="Wind" value1=beafourt value2=windCompass value3=windChill}}
    {{>card icon="centos" colour="orange" cardTitle="Pressure" value1=pressure}}
</div>