<div class="ui five doubling inverted cards">
    {{>card cardTitle=name value1=latitude value2=longitude}}
    {{>card cardTitle="Weather" value1=weather}}
    {{>card cardTitle="Temp" value1=tempC value2=tempF}}
    {{>card cardTitle="Wind" value1=beafourt value2=windCompass value3=windChill}}
    {{>card cardTitle="Pressure" value1=pressure}}
</div>