<div class="ui five doubling inverted cards">
    {{>card cardTitle=name}}
    {{>card cardTitle="Weather" value1=latestReading.weather}}
    {{>card cardTitle="Temp" value1=latestReading.tempC value2=latestReading.tempF}}
    {{>card cardTitle="Wind" value1=latestReading.windSpeed}}
    {{>card cardTitle="Pressure" value1=latestReading.pressure}}
</div>